/* Contenedor general */
.container {
    max-width: 1200px;
    margin: 10px auto;
    padding: 20px;
    background-color: #b8e0f8;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Título principal */
.container h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
    color: #333;
}

/* Contenedor del filtro */
.filter-container {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.filter-container label {
    font-weight: bold;
    margin-right: 10px;
    color: #444;
}

.filter-container select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
}

.filter-container select:focus {
    outline: none;
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Estilo de la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

thead {
    background-color: #007BFF;
    color: white;
}

thead th {
    padding: 10px;
    text-align: left;
    font-size: 16px;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #e6f7ff;
}

td, th {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

/* Botones de acción */
td:last-child {
    text-align: center;
}

td:last-child button {
    padding: 5px 10px;
    margin: 0 5px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

td:last-child button.botonesGuardar {
    background-color: #28a745;
    color: white;
}

td:last-child button.botonesGuardar:hover {
    background-color: #218838;
}

td:last-child button.botonesEliminar {
    background-color: #dc3545;
    color: white;
}

td:last-child button.botonesEliminar:hover {
    background-color: #c82333;
}

/* Responsividad */
@media (max-width: 768px) {
    .filter-container {
        flex-direction: column;
        align-items: stretch;
    }

    .filter-container label, .filter-container select {
        width: 100%;
        margin-bottom: 10px;
    }

    table {
        font-size: 14px;
    }
}
